/* Cores principais */
:root {
    --azul-trans: #a1d8ff;
    --rosa-trans: #ffb3c6;
    --branco: #ffffff;
    --cinza: #4b5563;
    --cinza-claro: #dbdada;
    --sombra: rgba(0, 0, 0, 0.1);
}

/* Reset */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--azul-trans);
    color: var(--cinza);
    line-height: 1.6;
}

/* Cabeçalho e Menu */
header {
    color: var(--branco);
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 8px var(--sombra);
    border-bottom: 4px solid var(--azul-trans);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background: var(--rosa-trans);
    width: 100%;
}

li {
    margin: 0;
}

li a {
    display: inline-block;
    color: var(--branco);
    text-align: center;
    padding: 10px 22px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

li a:hover {
    background: var(--branco);
    color: var(--rosa-trans);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Página ativa */
li a.active {
    background: var(--branco);
    color: var(--rosa-trans);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.05rem;
}

/* Seções */
section {
    background: var(--branco);
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

/* Bloco de Destaque para o Blog */
blockquote {
    font-style: italic;
    color: var(--cinza);
    background-color: var(--cinza-claro);
    padding: 10px 20px;
    border-left: 4px solid var(--rosa-trans);
    margin: 20px 0;
    border-radius: 10px;
}

/* Footer */
footer {
    background: var(--rosa-trans);
    color: var(--branco);
    text-align: center;
    padding: 12px;
    margin-top: 20px;
    width: 100%;
}
